


dl {
	font-size: 80%;
}
dt {
	font-style: italic;
	margin: 10px 0 0 10px;
}

body {
    background-color: #e8ecef;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 60px;
    text-align: center;
    color: #3f3f3f;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #3f3f3f;
}

.margin10 {
    margin: 10px 0px;
}
.margin20 {
    margin: 20px 0px;
}
.margin30 {
    margin: 30px 0px;
}
.margin40 {
    margin: 40px 0px;
}
.margin50 {
    margin: 50px 0px;
}
.margin75 {
    margin: 75px 0px;
}
.margin100 {
    margin: 100px 0px;
}


.textleft {
    text-align: left;
}

.table {
    width: 70%;
    margin: 25px 0 0 15%;
    background-color: white;
/*    padding:35px;*/
    border-collapse: collapse;
    border-radius: 3px;
}

.tableblock {
    display:block;
    
    
}

th, td {
    text-align: left;
    padding: 15px 15px;
    border-style: none;
}

tr:nth-child(even){background-color: #f9f9f9}

th {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    color: #3f3f3f;
}

td {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14px;
    
    color: #98a4ab;
}



/*Buttons*/

.droptext {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    
    color: #3f3f3f;
}

.buttonrow {
    display:block;
    width:90%;
    margin: 0 0 0 5%;
}

.buttonscentered {
    display:block;
    text-align: center;
    
}

.btncenter {
    text-align: center;
    margin:auto;
    display: block;
}

.dropbtn {
    background-color: #34cae0;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 10px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
}


.dropbtn:hover, .dropbtn:focus {
    background-color: #2cc0d5;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1}


.show {display:block;}